{{define "head"}}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="shortcut icon" href="/public/img/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/public/styles/sidebar.css">
<link rel="stylesheet" type="text/css" href="/public/styles/transactions.css">
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
{{end}}
</head>
{{define "body"}}
<body>
   
   <div class="wrapper">
   <nav id="sidebar">
      <div class="sidebar-header">
         <h3>{{.User.Username}}</h3>
         <strong>{{.User.Uname}}</strong>
      </div>
      <div id="profit" onclick="tablesShow(this.id)">
		<table id="profitt" class="table table-striped">
           <thead class="headerbar">
           	<tr>
						<td class="green">Доходы</td>

						<td class="right">&sum; {{.User.Income}}</td>
					</tr>
           </thead>
           <tbody id="profitb">
            {{range .User.Operations}}
              {{ if eq .Direction "1" }}
           <tr><td>{{.Comment}}</td> <td class="right">{{.Amount}}</td></tr>
           {{end}}
           {{end}}

				</table>
	</div>
         <div id="expense" onclick="tablesShow(this.id)">
		<table id="expenset" class="table table-striped">
           <thead class="headerbar">
           	<tr>
						<td class="red" onclick="showModal();">Расходы</td>

						<td class="right">&sum; {{.User.Outcome}}</td>
					</tr>
           </thead>
           <tbody id="expenseb">
              {{range .User.Operations}}
              {{ if eq .Direction "2" }}
           <tr><td>{{.Comment}}</td> <td class="right">{{.Amount}}</td></tr>
           {{end}}
           {{end}}
           </tbody>

				</table>
	</div>
        <div id="actives" onclick="tablesShow(this.id)">
		<table id="activest" class="table table-striped">
           <thead class="headerbar">
           	<tr>
						<td class="green">Активы</td>
{{range .User.Actives}}
                {{if .Sum}}
						<td class="right">&sum;{{.Sum}}</td>
                {{end}}
                {{end}}
					</tr>
           </thead>
           <tbody id="activesb">
           {{range .User.Actives}}
           <tr>
               <td>{{.Name}}</td>
               <td class="right">{{.Cost}}</td>
           </tr>
           {{end}}
           </tbody>

				</table>
	</div>

              <div id="passives" onclick="tablesShow(this.id)">
		<table id="passivest" class="table table-striped">
           <thead class="headerbar">
           	<tr>
						<td class="red">Пассивы</td>
{{range .User.Passives}}
                {{if .Sum}}
						<td class="right">&sum;{{.Sum}}</td>
                {{end}}
                {{end}}
					</tr>
           </thead>
           <tbody id="passivesb">
                {{range .User.Passives}}
           <tr>
               <td>{{.Name}}</td>
               <td class="right">{{.Cost}}</td>
           </tr>
           {{end}}
           </tbody>

				</table>
	</div>
   </nav>

   <div id="content">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <div class="container-fluid">
            <span style="color:green;"><strong>{{.User.Income}}</strong></span>
            <span style="color:red;"><strong>{{.User.Outcome}}</strong></span>
            {{if eq .User.Flag 0}}
            <span style="color:red;"><strong>{{.User.Difference}}</strong></span>
            {{else}}
            <span style="color:green;"><strong>{{.User.Difference}}</strong></span>
            {{end}}
         </div>
      </nav>
      <div class="modal" tabindex="-1" role="dialog" id="myModal" aria-labelledby="myModal">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title">Modal title</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
               <div id="tab-container">
                  <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" href="#tab-1">Доходы 1</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#tab-2">Расходы</a>
                    </li>                  
                  </ul>
                  <div class="tab-content">
                    <p class="mb-0" id="tab-1">
                     <table id="editing-example" class="table" data-paging="true" data-filtering="true" data-sorting="true">
                        <thead>
                        <tr>
                           <!--<th data-name="id" data-breakpoints="xs" data-type="number">ID</th>-->
                           <th data-name="Comment" data-breakpoints="xs">Комментарий</th>
                           <th data-name="Direction">Приход/Расход</th>
                           <th data-name="Amount">Сумма</th>
                           <th data-name="date" data-breakpoints="xs sm">Дата</th>
                        </tr>
                     
                        </thead>
                        <tbody>
                           {{range .User.OperationsDetail}}
                           {{if eq .Direction "2"}}
                           <tr id='tr{{.ID}}'>
                              <td name ='Comment'>{{.Comment}}</td>
                              <!--<td >{{.ID}}</td>-->
                              <td name='Direction'>{{.Direction}}</td>
                              {{if eq .Comment "Итого"}}
                              <td name='Amount'><strong>{{.Amount}}</strong></td>
                              {{else }}
                              <td name='Amount'>{{.Amount}}</td>
                              {{end}}
                              <td name ='Date'>{{.Date}}</td>-
                           </tr>
                     {{end}}  
                     {{end}}
                        </tbody>
                     </table>  


                    <p class="mb-0" id="tab-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non arcu eu mi pulvinar sollicitudin. Curabitur sit amet justo mauris.</p>
                  </div>
                  </div>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-primary">Save changes</button>
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             </div>
           </div>
         </div>
       </div>
      {{end}}
   </div>
  
   
   {{define "scripts"}}
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-hashchange/1.3/jquery.ba-hashchange.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.easytabs/3.2.0/jquery.easytabs.min.js"></script>
   <script src="/public/scripts/moment.js" ></script>
   <script src="/public/scripts/footable.js" ></script>
   {{end}}

   {{define "customscripts"}}
   <script type="text/javascript">
   $(document).ready(function () {
       $('#tab-container').easytabs();
      $('#sidebarCollapse').on('click', function () {
          $('#sidebar').toggleClass('active');
      });
  });
  $('#sidebarCollapse').on('click',function () {
      if($('#sidebar').hasClass('active')){
      $('#sidebarCollapse span').text('Скрыть');
      }else{
          $('#sidebarCollapse span').text('Показать');  
      }
  })
  function tablesShow(id){
  $(`#${id}b`).toggleClass('hidden');
}

function showModal(){
$('#myModal').modal('show');
}
</script>
   {{end}}
</body>
</html>